name: PR Validate (Salesforce)

on:
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    environment: sandbox

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Salesforce CLI
        run: |
          npm i -g @salesforce/cli
          sf --version

      - name: Create JWT key file
        shell: bash
        run: |
          printf '%s' "${{ secrets.SF_JWT_KEY }}" > server.key

      - name: Auth (JWT)
        run: |
          sf org login jwt \
            --client-id "${{ secrets.SF_CLIENT_ID }}" \
            --jwt-key-file server.key \
            --username "${{ secrets.SF_USERNAME }}" \
            --instance-url "${{ secrets.SF_INSTANCE_URL }}" \
            --alias ci-sandbox \
            --set-default

      - name: Validate deployment (with tests)
        run: |
          sf project deploy validate \
            --source-dir force-app \
            --target-org ci-sandbox \
            --test-level RunLocalTests
